@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="css/calculator.css">
<form method="post">
    <table class="calculator">
        <tr>
            <td colspan="3"> <input class="display-box" type="text" id="result" name="result" /> </td>
            <!-- clearScreen() function clear all the values -->
            <td> <input class="button" type="button" value="C" onclick="clearScreen()" style="background-color: #1e90ff;" /> </td>
        </tr>
        <tr>
            <!-- display() function display the value of clicked button -->
            <td> <input class="button" type="button" value="1" onclick="display('1')" /> </td>
            <td> <input class="button" type="button" value="2" onclick="display('2')" /> </td>
            <td> <input class="button" type="button" value="3" onclick="display('3')" /> </td>
        </tr>
        <tr>
            <td> <input class="button" type="button" value="4" onclick="display('4')" /> </td>
            <td> <input class="button" type="button" value="5" onclick="display('5')" /> </td>
            <td> <input class="button" type="button" value="6" onclick="display('6')" /> </td>

        </tr>
        <tr>
            <td> <input class="button" type="button" value="7" onclick="display('7')" /> </td>
            <td> <input class="button" type="button" value="8" onclick="display('8')" /> </td>
            <td> <input class="button" type="button" value="9" onclick="display('9')" /> </td>

        </tr>
        <tr>
            <td> <input class="button" type="button" value="0" onclick="display('0')" /> </td>
            <!-- calculate() function evaluate the mathematical expression -->
            <td> <input class="button" type="button" value="+" onclick="display('+')" /> </td>
            <td> <input class="button" type="button" value="-" onclick="display('-')" /> </td>

            <td> <input class="button" type="submit" value="=" style="background-color: #1e90ff;" /> </td>

        </tr>
    </table>
</form>


<h2>Latest calculations</h2>
<table>
    @foreach (var equation in Model.Results)
        {
            <tr>
                <td>@equation.Result</td>
            </tr>
        }
</table>


<script>
    // This function clear all the values
    function clearScreen() {
        document.getElementById("result").value = "";
    }

    // This function display values
    function display(value) {
        document.getElementById("result").value += value;
    }
</script>
@* 
@if(!string.IsNullOrEmpty(Model.Property1)) {
    <script>alert("@Model.Property1");</script>
} *@